node_modules
.git
.gitignore
.next
README.md
.env*
npm-debug.log*
Dockerfile
.dockerignore
.github
.vscode
*.log
coverage
dist
test
**/.DS_Store
.eslintrc*
.prettierrc*
tsconfig.tsbuildinfo
*.md
*.sh
.husky
